.card {
    border: none;
}

.card-text {
    display: block;
    display: -webkit-box;
    text-overflow: ellipsis;
    /* max-height: 100px; */
    overflow: hidden;
    /* max-width: 100px; */
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.weather-img-block img{
    width: 100px;
}

.score-section{
    letter-spacing: 3px;
}